
body, h1, p {
    margin: 0;
    padding: 0;
}

#interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#cabecalho {
    margin: 20px 0;
}

.logo img {
    display: block;
    margin: 0 auto;
}

#menu ul {
    list-style: none;
}

#menu li {
    display: inline;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
}

#form {
    text-align: left;
    max-width: 600px;
    margin: 20px auto;
}

form {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
}

form label {
    display: block;
    margin: 10px 0;
}

/*Deixar padrão*/
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="number"],
form select,
form textarea {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="checkbox"] {
    margin-right: 5px;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/*Voltar ao topo*/
#topo {
    position: fixed;
    bottom: 50px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

#voltar-ao-topo {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background-color: #000000;
    padding: 10px;
    border-radius: 10%;
    font-size: 18px;
}

#voltar-ao-topo:hover {
    background-color: #1d7be7;
    color: #ffffff;
}

#scroll-to-top.visible {
    opacity: 1;
    visibility: visible;
}

/*Ajuste do menu com botões*/
#menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

#menu ul li {
    list-style: none;
}

#menu ul li a,
#menu ul li button {
    text-decoration: none;
    padding: 10px;
}

#menu ul li button {
    background-color: #14cabb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#menu ul li button:hover {
    background-color: #1ca196;
}