body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

#interface {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#consulta {
    margin-top: 20px;
}

#consulta h1 {
    text-align: center;
}



ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #e0e0e0;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c82333;
}

#pesquisa {
    width: 300px; 
    padding: 10px; 
    font-size: 16px; 
}

#lista {
    margin-top: 20px;
}

#lista table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#lista th{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
#lista td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    transition: background-color 0.3s ease-in-out;
}

#lista td:hover {
    background-color: #f2f2f2;
}

.botoes-container {
    text-align: center;
}

.botoes-container button {
    margin: 10px;
    background-color:rgb(39, 141, 107);
}